<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 mb-4" *ngFor="let row of characterLiastData,let i = index">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-6 pr-0">
                            <div class="bodyCard">
                                <img [src]="row.image">
                            </div>
                        </div>
                        <div class="col-6 pl-0">
                            <div class="p-3 custombody">
                                <h3 class="texth3">{{row.name}}</h3>
                                <h5 class="texth3">Dead-{{row.species}}</h5>
                                <h5 class="texth5">Last Known Location
                                    <br><span class="span">{{row.location.name}}</span>
                                </h5>
                                <h5 class="texth5">First seen in:
                                    <br><span class="span">{{row.origin.name}}</span>
                                </h5>
                                <br>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary btn-sm float-right" [routerLink]="'/character-details/'+ row.id">More
                        Details</button>
                </div>
            </div>
        </div>
    </div>
</div>